body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "globalActions"
        "newTodo"
        ".";
    width: 100%; 
    padding: 30px;
    gap: 25px 40px;
    /* row-gap: 15px;
    column-gap: 40px; */
}
    .container > .global-actions {
        display: inline-block;
        grid-area: globalActions;
    }

    .container > .form {
        display: inline-block;
        grid-area: newTodo;
    }
    .container > .form > fieldset {
        display: inline-block;
        width: 100%;
        border: none;
        margin-bottom: 15px;
    }
        .form > fieldset > label {
            display: inline-block;
            width: 100%;
        }
        .form > fieldset > textarea {
            font-size: 20px;
            line-height: 25px;
            display: inline-block;
            width: 100%;
            padding: 10px;
            min-height: 95px;
            height: 95px;
            max-height: 270px; /* 10 eiluÄiu + paddingas */
            resize: vertical;
         }
        .form > fieldset > input {
            font-size: 20px;
            line-height: 25px;
            padding: 10px;
            display: inline-block;
            width: 100%;
        }
.container > .form > .actions {
    display: inline-block;
    width: 100%;
}
        .form > .actions > .btn {
            display: inline-block;
            margin-right: 20px;
            padding: 5px 15px;
            border: 1px solid #ccc;
            background-color: #36f;
            color: #fff;
            line-height: 20px;
            font-size: 18px;
            border-radius: 5px;
        }
            .form > .actions > .btn:hover {
                display: inline-block;
                background-color: rgb(112, 146, 248);
                cursor: pointer;
            }
            .form > .actions > .btn.add {
                display: inline-block;
            }
            .form > .actions > .btn.add:hover {
                display: inline-block;
                background-color: rgb(112, 146, 248);
                box-shadow: 0 2px 8px #ccc;
                cursor: pointer;
            }
            .form > .actions > .btn.clear {
                display: inline-block;
                background-color: rgb(112, 112, 112);
            }
                .form > .actions > .btn.clear:hover {
                    display: inline-block;
                    background-color: rgb(182, 181, 181);
                }

        .container > .item {
            display: inline-block;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 8px #0005;
            position: relative;
            padding: 20px 20px 10px;
        }
        .container > .item >.status {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 10px;
        }
        .container > .item >.status.todo{
            background-color: yellow;
        }
        .container > .item >.status.in-progress{
            background-color: #36f;
        }
        .container > .item >.status.done{
            background-color:#0f3;
        }
        .container > .item >.desciption {
            display: inline-block;
            width: 100%;
            font-size: 22px;
            line-height: 26px;
            
        }
        .container > .item >.deadline {
            display: inline-block;
            width: 100%;
        }
        .container > .item >.actions {
            display: inline-block;
            width: 100%;
            
        }
            .item > .actions > .action {
                display: inline-block;
                margin: 10px 10px 0 0;
                font-size: 14px;
                line-height: 20px;
                color: blue;
                text-decoration: underline;
                cursor: pointer;
            }
            
@media ( min-width: 500px ) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "globalActions globalActions"
        "newTodo newTodo"
        ". .";
        
    }
}
@media ( min-width: 900px ) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "globalActions globalActions globalActions"
        "newTodo newTodo newTodo"
        ". . .";
         
    }
}
@media ( min-width: 1300px ) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "globalActions globalActions globalActions globalActions"
        "newTodo newTodo newTodo newTodo"
        ". . . . ";
        
    }
}
